<!DOCTYPE html>
<html>
  <head>
    <title>Doggr</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/breeds">Doggr</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/breeds">All Breeds</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/favorites">Favorites</a>
      </li>
      <li class="nav-item active">
        <% if signed_in? %>
          <%= button_to "Sign out", sign_out_path, method: :delete, class: "btn btn-dark" %>
        <% else %>
          <%= link_to "Sign in", sign_in_path, class: "nav-link" %>
        <% end %>
      </li>
  </div>
  </nav>
  </header>
  <body>
    <%= yield %>
      <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
  </body>
</html>
