<!DOCTYPE html>
<html>
  <head>
    <title>Doggr</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <%= link_to 'Doggr', root_path, class: 'navbar-brand col-sm-3 col-md-2 mr-0' %>
      <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <% if signed_in? %>
            <%= link_to 'Sign out', sign_out_path, method: :delete, class: 'nav-link' %>
          <% else %>
            <%= link_to 'Sign in', sign_in_path, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
      <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
  </body>
</html>
